body {
  margin: 0;
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.card-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 1rem;
  width: 100%;
  max-width: 20rem;

  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 90rem) {
  .card {
    max-width: 20rem;
  }
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.text-container {
  margin: 0.5rem;
  text-align: center;
}

.text-container h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #1f2a44;
}

.text-container p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #7b879d;
  line-height: 1.4;
}
