body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.card-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  margin: 0 1rem;
  padding: 0.5rem;
}

@media (min-width: 90rem) {
  .card {
    max-width: 20rem;
  }
}

.img-container {
  padding: 0.5rem;
}

.img-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}

.text-container {
  margin: 0.5rem;
  text-align: center;
}

.text-container h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #1f2a44;
}

.text-container p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #7b879d;
  line-height: 1.4;
}
